.App{
        background-image: url(/src/images/Bg.png);
        height: 120vh;
        background-size: cover; 
}

@media only screen and (min-width:350px) and (max-width:768px){
     .App {
             background-image: url(/src/images/Bg.png);
             height: 200vh;
             background-size: cover;
     }
}